version: '{{ docker_compose_version }}'

services:
  {{ app_name }}:
    image: {{ docker_image }}:{{ docker_tag }}

    ports:
      - "{{ app_port }}:{{ app_internal_port }}"

    restart: unless-stopped

    environment:
{% for key, value in app_env.items() %}
      {{ key }}: "{{ value }}"
{% endfor %}

    networks:
      - {{ app_name }}_network

networks:
  {{ app_name }}_network:
    driver: bridge