---
- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install common packages
  apt:
    name: "{{ common_packages }}"
    state: present 

- name: Ensure timezone is set
  timezone:
    name: "Europe/Moscow"