name: My FLask App Testing

on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: |
          pip install -r ./app_python/requirements.txt
          pip install pytest flake8
      - name: Lint
        run: flake8 ./app_python/app.py
      - name: Test
        run: pytest ./app_python/tests/